## Importing required libraries

In [1]:
import numpy as np
from imblearn.over_sampling import SMOTE
from sklearn.preprocessing import RobustScaler,MinMaxScaler,StandardScaler
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import confusion_matrix
from sklearn.metrics import classification_report
import warnings
warnings.filterwarnings('ignore')
import pandas as pd
import pickle

## Getting the dataframe which has all the diagnosis codes for all 10000 patients

In [4]:
df1 = pd.read_csv('10k-diagnosis.csv',header=None)
df1 = df1.rename(columns={0: 'patient_id', 1: 'diagnosis_coded'})
df1.head()


list_index=[]
for i in range(df1.shape[0]): #Taking only the 10 diagnoses
    if df1.iloc[i,1]=='1385187' or df1.iloc[i,1]=='1385109' or df1.iloc[i,1]=='1384870' or df1.iloc[i,1]=='1384841' or df1.iloc[i,1]=='1384995' or df1.iloc[i,1]=='1397715' or df1.iloc[i,1]=='1384886' or df1.iloc[i,1]=='1474651' or df1.iloc[i,1]=='1385083' or df1.iloc[i,1]=='1385121':
        #print(i)
        list_index.append(i)
        
df1=df1.iloc[list_index]
df1=df1.reset_index()
df1=df1.drop(['index'], axis=1)
df1=df1.drop_duplicates()
df1=df1.reset_index()
df1=df1.drop(['index'], axis=1)
df1

       patient_id diagnosis_coded
0        19563570         1384841
1        19557987         1384841
2        19557524         1384841
3        19556594         1384841
4        19555886         1384841
...           ...             ...
12577    17008429         1474651
12578    17008031         1474651
12579    17006542         1474651
12580    17002218         1474651
12581    16998984         1474651

[12582 rows x 2 columns]

In [ ]:
target_variable_df=pd.DataFrame()
target_variable_df["patient_id"]=df1["patient_id"].unique()
list_diagnosis=list(df1["diagnosis_coded"].unique())

list_diagnosis
for i in range(len(list_diagnosis)):
    target_variable_df[list_diagnosis[i]]=np.nan


#target_variable_df
for i in range(df1.shape[0]):
    print(i)
#     if i>1:
#         break
    patient_id=df1["patient_id"][i]
    diagnosis_id=df1["diagnosis_coded"][i]
    index_of_this_patient=int(target_variable_df.query("patient_id == @patient_id").index.values)
    #print(index_of_this_patient)
    target_variable_df[diagnosis_id][index_of_this_patient]=1

target_variable_df.head()

In [6]:
target_variable_df.describe()

,patient_id,1384841,1384870,1384886,1384995,1385083,1385109,1385121,1385187,1397715,1474651
count,1.000000e+04,1334.0,1462.0,1048.0,463.0,1034.0,1689.0,977.0,2334.0,1159.0,1082.0
mean,1.849807e+07,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0
std,8.663063e+05,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
min,1.699898e+07,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0
25%,1.775001e+07,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0
50%,1.850531e+07,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0
75%,1.924246e+07,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0
max,1.999978e+07,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0

In [7]:
# merged = pd.merge(df, df1, on ='patient_id')
# merged=merged.drop_duplicates()
# merged=merged.reset_index(drop=True)
# merged

In [8]:
# merged.to_csv("Final_merged_dataframe_only_10_diagnosis.csv")

In [9]:
# data=pd.read_csv("Final_merged_dataframe_only_10_diagnosis.csv")
# data=data.drop(['Unnamed: 0'], axis=1)
# # data=data.reset_index(inplace=True)
# data

## Getting the first dataframe which has all the patients' (n=8297) value_numeric for all the concepts

In [39]:
df = pd.read_csv('10k-obs.csv',sep="\t",header=None)
df = df.rename(columns={0:'patient_id',1: 'concept_id', 2: 'value_numeric',3:'value_coded'})
df=df.drop(['value_coded'], axis=1) #we do not need value_coded column anymore
df["value_numeric"] = df["value_numeric"].str.replace(r'\\N','np.nan', regex=True) #replacing \N with 0
df=df.replace("np.nan",np.nan)
df["value_numeric"]=df['value_numeric'].astype(float) #converting the datatypes of value_numeric as float
df=df.dropna()
df=df.reset_index(drop=True)
data=df
data

         patient_id  concept_id  value_numeric
0          16999416     1520176            0.6
1          16999416     1520177           93.0
2          16999416     1520177           94.0
3          16999416     1520177           94.0
4          16999416     1520177           93.0
...             ...         ...            ...
7744120    19999784     1520694           32.2
7744121    19999784     1520694           32.4
7744122    19999784     1520694           32.4
7744123    19999784     1520694           32.9
7744124    19999784     1520694           32.0

[7744125 rows x 3 columns]

### check the number of unique patients in the dataframe

In [40]:
print("Unique patients:",len(df["patient_id"].unique()))
#print("Unique diagnoses:",len(data["diagnosis_coded"].unique()))

Unique patients: 8297

## Getting value_numeric in different columns using get_dummies

In [41]:
df["concept_id"] = df["concept_id"].astype("category")
df['concept_id'].dtypes
dummies = pd.get_dummies(df['concept_id'])
dummies=dummies.replace(0,np.nan)
dummies=dummies.astype(float)
dummies.values[dummies == 1.0] = df['value_numeric']
dummies

,1482681,1520176,1520177,1520178,1520179,1520180,1520181,1520182,1520183,1520184,...,1529674,1529675,1529676,1529677,1529678,1529679,1529680,1529682,1529683,1529684
0,NaN,0.6,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,93.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,94.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,94.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,93.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7744120,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7744121,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7744122,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7744123,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7744124,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

## Taking the patient_id column only to merge with dummies dataframe

In [42]:
data_id_only=df[['patient_id']]

## Now merging these two dataframes

In [43]:
dataframe=pd.concat([data_id_only,dummies],axis=1)
dataframe=dataframe.dropna(axis=1,how='all')
dataframe

,patient_id,1482681,1520176,1520177,1520178,1520179,1520180,1520181,1520182,1520183,...,1529674,1529675,1529676,1529677,1529678,1529679,1529680,1529682,1529683,1529684
0,16999416,NaN,0.6,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,16999416,NaN,NaN,93.0,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,16999416,NaN,NaN,94.0,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,16999416,NaN,NaN,94.0,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,16999416,NaN,NaN,93.0,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7744120,19999784,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7744121,19999784,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7744122,19999784,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7744123,19999784,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7744124,19999784,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [44]:
squeezed= dataframe.groupby('patient_id').agg('mean')
squeezed

,1482681,1520176,1520177,1520178,1520179,1520180,1520181,1520182,1520183,1520184,...,1529674,1529675,1529676,1529677,1529678,1529679,1529680,1529682,1529683,1529684
patient_id,,,,,,,,,,,,,,,,,,,,,
16999416,NaN,0.600000,93.750000,NaN,NaN,NaN,NaN,NaN,13.428571,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16999815,1.296590,NaN,87.125000,NaN,NaN,NaN,NaN,NaN,11.333333,NaN,...,106.0,233.200000,69.0,175.0,NaN,NaN,NaN,NaN,NaN,NaN
17000103,4.956930,3.850000,87.954545,NaN,NaN,NaN,NaN,NaN,12.518519,NaN,...,86.8,191.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17000205,NaN,3.400000,90.375000,NaN,NaN,NaN,NaN,NaN,12.875000,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17001006,2.330205,3.045455,89.494737,57.75,NaN,NaN,NaN,NaN,13.112150,NaN,...,80.4,179.666667,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19998350,NaN,2.100000,81.666667,NaN,32.0,NaN,NaN,NaN,13.333333,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19998497,NaN,1.500000,91.851852,24.00,199.5,NaN,NaN,NaN,14.923077,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19999379,NaN,NaN,92.000000,NaN,NaN,NaN,NaN,NaN,13.000000,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19999625,0.960741,0.100000,86.000000,65.00,NaN,NaN,NaN,NaN,12.181818,NaN,...,50.5,111.100000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19999784,NaN,2.709434,83.649573,NaN,NaN,2031.0,NaN,NaN,10.289256,3.4,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

## (Ignore it for now because we already got the dataframe with 8297 rows) ... Now we need to move the values so that every features' values stay in one row instead of multiple rows for one single patient, for multiple values for same concept, the values could stay in multiple rows

In [16]:
# df=dataframe
# feature_columns=list(df.columns)[1:]
# unique_id=sorted(set(df['patient_id']))

In [17]:
# def prepend_geek(name):
#     list_sugar=[str(x) for x in name]
#     non_null=[]
#     for i,e in enumerate(list_sugar):
#         if(e == 'nan'):
#             continue
#         non_null.append(e)
    
#     remaining_length=len(name)-len(non_null)
#     tail=['nan']*remaining_length
#     total = non_null + tail
#     total = non_null
#     return total

In [18]:
# def format_table(pdf):
#     #current_id=list(pdf['id']) 
#     current_df=pdf[feature_columns]
#     total_list=[]
#     for i,e in enumerate(feature_columns):

#         total_list.append(prepend_geek(current_df[e]))
#     remaining_table=pd.DataFrame(total_list).T
#     remaining_table.columns=feature_columns
#     remaining_table['patient_id']= [pdf['patient_id'].iloc[0]]*len(remaining_table)

#     return(remaining_table)

In [ ]:
# pdf_list=[]
# for i,e in enumerate(unique_id):
#     #print(i)
#     pdf=df[df['patient_id']==e]
#     pdf_list.append(format_table(pdf))

## (Ignore it too) Saving the list as pickle file so that if the concat does not work, we can have all the info in the list as pkl

In [ ]:
# with open('pdf_list.pkl', 'wb') as f:
#     pickle.dump(pdf_list, f)

In [45]:
# final_pdf=pd.concat(pdf_list,axis=0,ignore_index=True)
# final_pdf

## (Ignore it) Saving the dataframe as new dataframe

In [21]:
# final_pdf.to_csv("Final_dataframe_all_data_reduced_rows.csv")

In [22]:
# final_data=pd.read_csv("Final_dataframe_all_data_reduced_rows.csv")
# #final_data=final_data.reset_index()
# final_data=final_data.drop(['Unnamed: 0'], axis=1)
# first_column = final_data.pop('patient_id')
# final_data.insert(0, 'patient_id', first_column)
# final_data

,patient_id,1482681,1520176,1520177,1520178,1520179,1520180,1520181,1520182,1520183,...,1529674,1529675,1529676,1529677,1529678,1529679,1529680,1529682,1529683,1529684
0,16999416,NaN,0.6,93.0,NaN,NaN,NaN,NaN,NaN,12.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,16999416,NaN,NaN,94.0,NaN,NaN,NaN,NaN,NaN,15.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,16999416,NaN,NaN,94.0,NaN,NaN,NaN,NaN,NaN,11.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,16999416,NaN,NaN,93.0,NaN,NaN,NaN,NaN,NaN,13.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,16999416,NaN,NaN,95.0,NaN,NaN,NaN,NaN,NaN,17.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
545260,19999784,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
545261,19999784,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
545262,19999784,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
545263,19999784,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
545264,19999784,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [46]:
squeezed=squeezed.reset_index()
squeezed

,patient_id,1482681,1520176,1520177,1520178,1520179,1520180,1520181,1520182,1520183,...,1529674,1529675,1529676,1529677,1529678,1529679,1529680,1529682,1529683,1529684
0,16999416,NaN,0.600000,93.750000,NaN,NaN,NaN,NaN,NaN,13.428571,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,16999815,1.296590,NaN,87.125000,NaN,NaN,NaN,NaN,NaN,11.333333,...,106.0,233.200000,69.0,175.0,NaN,NaN,NaN,NaN,NaN,NaN
2,17000103,4.956930,3.850000,87.954545,NaN,NaN,NaN,NaN,NaN,12.518519,...,86.8,191.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,17000205,NaN,3.400000,90.375000,NaN,NaN,NaN,NaN,NaN,12.875000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,17001006,2.330205,3.045455,89.494737,57.75,NaN,NaN,NaN,NaN,13.112150,...,80.4,179.666667,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8292,19998350,NaN,2.100000,81.666667,NaN,32.0,NaN,NaN,NaN,13.333333,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8293,19998497,NaN,1.500000,91.851852,24.00,199.5,NaN,NaN,NaN,14.923077,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8294,19999379,NaN,NaN,92.000000,NaN,NaN,NaN,NaN,NaN,13.000000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8295,19999625,0.960741,0.100000,86.000000,65.00,NaN,NaN,NaN,NaN,12.181818,...,50.5,111.100000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8296,19999784,NaN,2.709434,83.649573,NaN,NaN,2031.0,NaN,NaN,10.289256,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [56]:
df1=target_variable_df
df1=df1.replace(np.nan,0)
df1

,patient_id,1384841,1384870,1384886,1384995,1385083,1385109,1385121,1385187,1397715,1474651
0,19563570,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,19557987,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,19557524,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,19556594,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,19555886,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...
9995,17013053,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
9996,17009907,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
9997,17008429,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
9998,17006542,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
9999,16998984,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0

In [57]:
document_dict_1 = pd.Series(df1['1384841'].values,index = df1.patient_id).to_dict()
document_dict_2 = pd.Series(df1["1384870"].values,index = df1.patient_id).to_dict()
document_dict_3 = pd.Series(df1["1384886"].values,index = df1.patient_id).to_dict()
document_dict_4 = pd.Series(df1["1384995"].values,index = df1.patient_id).to_dict()
document_dict_5 = pd.Series(df1["1385083"].values,index = df1.patient_id).to_dict()
document_dict_6 = pd.Series(df1["1385109"].values,index = df1.patient_id).to_dict()
document_dict_7 = pd.Series(df1["1385121"].values,index = df1.patient_id).to_dict()
document_dict_8 = pd.Series(df1["1385187"].values,index = df1.patient_id).to_dict()
document_dict_9 = pd.Series(df1["1397715"].values,index = df1.patient_id).to_dict()
document_dict_10 = pd.Series(df1["1474651"].values,index = df1.patient_id).to_dict()

# merged = pd.merge(df, df1, on ='patient_id')
# merged=merged.drop_duplicates()
# merged=merged.reset_index(drop=True)
# merged

In [58]:
document_dict_7

{19563570: 0.0,
 19557987: 0.0,
 19557524: 0.0,
 19556594: 0.0,
 19555886: 0.0,
 19552039: 0.0,
 19550378: 0.0,
 19547030: 0.0,
 19544131: 0.0,
 19541392: 1.0,
 19540374: 0.0,
 19539331: 0.0,
 19533644: 1.0,
 19532405: 0.0,
 19530697: 0.0,
 19530582: 0.0,
 19527441: 0.0,
 19525746: 0.0,
 19523386: 0.0,
 19523301: 1.0,
 19514027: 0.0,
 19512875: 1.0,
 19511048: 0.0,
 19510856: 0.0,
 19509250: 0.0,
 19508954: 0.0,
 19508874: 0.0,
 19503056: 0.0,
 19502544: 1.0,
 19501510: 1.0,
 19499595: 0.0,
 19493050: 0.0,
 19491367: 0.0,
 19491293: 0.0,
 19489981: 1.0,
 19489699: 0.0,
 19484821: 0.0,
 19480985: 0.0,
 19478816: 0.0,
 19478177: 0.0,
 19476335: 0.0,
 19475604: 1.0,
 19474929: 0.0,
 19472734: 0.0,
 19472091: 0.0,
 19470718: 0.0,
 19462678: 0.0,
 19462352: 0.0,
 19461413: 0.0,
 19459798: 0.0,
 19458578: 0.0,
 19454978: 1.0,
 19453139: 0.0,
 19452496: 0.0,
 19444227: 1.0,
 19442637: 0.0,
 19438923: 0.0,
 19438264: 0.0,
 19437332: 0.0,
 19427944: 1.0,
 19427173: 0.0,
 19423891: 0.0,
 19422903: 0.0,
 19422241: 0.0,
 19422157: 0.0,
 19421810: 0.0,
 19414486: 0.0,
 19410285: 0.0,
 19405755: 0.0,
 19403996: 0.0,
 19403862: 0.0,
 19400533: 0.0,
 19400264: 0.0,
 19398915: 0.0,
 19397036: 0.0,
 19395435: 0.0,
 19394739: 0.0,
 19394614: 1.0,
 19391089: 1.0,
 19389547: 0.0,
 19388377: 0.0,
 19382579: 0.0,
 19380754: 0.0,
 19378144: 0.0,
 19376749: 0.0,
 19372432: 0.0,
 19371341: 0.0,
 19370539: 0.0,
 19364461: 0.0,
 19363417: 0.0,
 19362001: 0.0,
 19360212: 0.0,
 19359802: 1.0,
 19358713: 0.0,
 19344781: 0.0,
 19343869: 0.0,
 19342186: 0.0,
 19340286: 0.0,
 19330474: 0.0,
 19330126: 0.0,
 19323933: 0.0,
 19320695: 0.0,
 19318463: 0.0,
 19318235: 0.0,
 19315003: 0.0,
 19314318: 0.0,
 19310647: 0.0,
 19308739: 0.0,
 19306231: 0.0,
 19306130: 0.0,
 19305757: 0.0,
 19304241: 0.0,
 19303989: 0.0,
 19303239: 0.0,
 19302221: 0.0,
 19300976: 0.0,
 19300386: 0.0,
 19300381: 0.0,
 19299811: 1.0,
 19299233: 1.0,
 19296504: 1.0,
 19296027: 0.0,
 19290730: 0.0,
 19289553: 1.0,
 19287866: 0.0,
 19286509: 0.0,
 19284715: 0.0,
 19283913: 0.0,
 19281242: 0.0,
 19279815: 0.0,
 19276190: 0.0,
 19274752: 0.0,
 19272441: 0.0,
 19270543: 0.0,
 19268750: 0.0,
 19261055: 0.0,
 19259478: 0.0,
 19257983: 0.0,
 19252181: 0.0,
 19251999: 0.0,
 19250934: 0.0,
 19239322: 0.0,
 19237689: 0.0,
 19237156: 0.0,
 19232904: 0.0,
 19232709: 0.0,
 19231238: 1.0,
 19230597: 0.0,
 19222144: 0.0,
 19219256: 0.0,
 19215037: 0.0,
 19214258: 0.0,
 19213219: 0.0,
 19198743: 0.0,
 19194530: 0.0,
 19193700: 1.0,
 19193216: 0.0,
 19185876: 0.0,
 19181605: 0.0,
 19180828: 0.0,
 19180532: 0.0,
 19173982: 0.0,
 19172395: 0.0,
 19165682: 0.0,
 19163469: 0.0,
 19156794: 0.0,
 19151064: 1.0,
 19143018: 0.0,
 19141953: 1.0,
 19138747: 0.0,
 19137234: 0.0,
 19136688: 0.0,
 19135938: 0.0,
 19134035: 0.0,
 19132989: 0.0,
 19132043: 0.0,
 19131752: 0.0,
 19131700: 0.0,
 19131119: 1.0,
 19128400: 0.0,
 19125782: 0.0,
 19125644: 0.0,
 19124948: 0.0,
 19123442: 0.0,
 19120008: 0.0,
 19119676: 0.0,
 19118293: 0.0,
 19113610: 0.0,
 19111138: 1.0,
 19106645: 0.0,
 19104292: 0.0,
 19104086: 0.0,
 19104040: 0.0,
 19101100: 0.0,
 19100084: 0.0,
 19098363: 0.0,
 19096838: 0.0,
 19095922: 0.0,
 19094744: 0.0,
 19091860: 0.0,
 19086156: 0.0,
 19085976: 0.0,
 19078843: 1.0,
 19065401: 0.0,
 19062760: 0.0,
 19061400: 0.0,
 19060038: 0.0,
 19056938: 0.0,
 18169660: 0.0,
 18168234: 0.0,
 18167505: 0.0,
 18159142: 0.0,
 18157512: 0.0,
 18157502: 0.0,
 18157237: 0.0,
 18155387: 0.0,
 18151621: 0.0,
 18140944: 0.0,
 18139977: 0.0,
 18139850: 0.0,
 18137472: 0.0,
 18136887: 1.0,
 18131667: 0.0,
 18129598: 1.0,
 18127146: 0.0,
 18124266: 0.0,
 18123738: 0.0,
 18119289: 0.0,
 18115853: 1.0,
 18115699: 0.0,
 18115365: 1.0,
 18113236: 0.0,
 18112633: 0.0,
 18110236: 0.0,
 18107416: 0.0,
 18107112: 0.0,
 18104897: 1.0,
 18104283: 0.0,
 18102894: 0.0,
 18101660: 0.0,
 18097292: 1.0,
 18096446: 0.0,
 18093343: 0.0,
 18089505: 0.0,
 18088902: 0.0,
 18087791: 0.0,
 18081075: 0.0,
 18080005: 0.0,
 18077999: 0.0,
 18077299: 0.0,
 18076824: 0.0,
 18074355: 0.0,
 18069196: 0.0,
 18065146: 0.0,
 18063420: 0.0,
 18060763: 0.0,
 18059900: 0.0,
 18059878: 0.0,
 18059276: 0.0,
 18058896: 0.0,
 18058739: 0.0,
 18057532: 1.0,
 18057037: 1.0,
 18054826: 0.0,
 18053727: 0.0,
 18050367: 0.0,
 18050318: 0.0,
 18049351: 0.0,
 18046197: 0.0,
 18039147: 0.0,
 18037820: 0.0,
 18036964: 0.0,
 18036475: 1.0,
 18030487: 1.0,
 18030062: 0.0,
 18026603: 0.0,
 18023726: 0.0,
 18020864: 0.0,
 18020405: 0.0,
 18019685: 0.0,
 18019343: 0.0,
 18019284: 0.0,
 18018996: 0.0,
 18017189: 1.0,
 18016603: 0.0,
 18014061: 0.0,
 18011649: 0.0,
 18007631: 0.0,
 18006025: 0.0,
 18004660: 0.0,
 18003191: 0.0,
 18001923: 0.0,
 18001922: 0.0,
 18001760: 0.0,
 18001157: 0.0,
 18000991: 0.0,
 17991862: 0.0,
 17990923: 0.0,
 17988213: 0.0,
 17987812: 0.0,
 17986706: 0.0,
 17984104: 0.0,
 17983771: 0.0,
 17982968: 0.0,
 17980316: 0.0,
 17978114: 0.0,
 17977561: 1.0,
 17977369: 0.0,
 17975714: 0.0,
 17968172: 0.0,
 17968028: 0.0,
 17967161: 0.0,
 17959879: 0.0,
 17950200: 0.0,
 17948222: 0.0,
 17945774: 0.0,
 17944866: 0.0,
 17941212: 0.0,
 17936886: 1.0,
 17936641: 0.0,
 17933048: 0.0,
 17932059: 0.0,
 17931543: 0.0,
 17928366: 0.0,
 17924051: 0.0,
 17922986: 0.0,
 17917715: 0.0,
 17906511: 0.0,
 17905508: 1.0,
 17904720: 1.0,
 17903966: 0.0,
 17901827: 0.0,
 17901776: 0.0,
 17900973: 0.0,
 17898988: 0.0,
 17893530: 0.0,
 17890530: 0.0,
 17887616: 0.0,
 17886980: 0.0,
 17883385: 0.0,
 17882201: 0.0,
 17881681: 0.0,
 17878731: 0.0,
 17876390: 0.0,
 17874692: 0.0,
 17873707: 1.0,
 17872922: 0.0,
 17872878: 0.0,
 17872769: 0.0,
 17871820: 0.0,
 17864859: 0.0,
 17864819: 0.0,
 17862835: 0.0,
 17860801: 0.0,
 17860331: 0.0,
 17859194: 0.0,
 17858668: 0.0,
 17852427: 0.0,
 17849496: 0.0,
 17842972: 0.0,
 17842239: 0.0,
 17839897: 0.0,
 17838879: 0.0,
 17838301: 1.0,
 17830851: 0.0,
 17826933: 0.0,
 17826875: 0.0,
 17825113: 0.0,
 17823126: 0.0,
 17820769: 0.0,
 17814478: 0.0,
 17810784: 0.0,
 17810773: 0.0,
 17804936: 0.0,
 17802940: 0.0,
 17800072: 0.0,
 17798591: 0.0,
 17797946: 0.0,
 17784248: 0.0,
 17783330: 0.0,
 17782082: 0.0,
 17773157: 0.0,
 17770649: 0.0,
 17768864: 1.0,
 17763551: 0.0,
 17763117: 0.0,
 17763085: 0.0,
 17757393: 0.0,
 17755058: 0.0,
 17754845: 0.0,
 17754576: 0.0,
 17754494: 0.0,
 17749911: 0.0,
 17746359: 0.0,
 17744306: 0.0,
 17742473: 0.0,
 17741665: 0.0,
 17736547: 0.0,
 17736294: 0.0,
 17729489: 0.0,
 17729079: 0.0,
 17728504: 0.0,
 17727837: 0.0,
 19056923: 0.0,
 19054786: 0.0,
 19046643: 0.0,
 19045192: 0.0,
 19030532: 0.0,
 19029908: 0.0,
 19028690: 0.0,
 19027500: 0.0,
 19025956: 0.0,
 19025743: 0.0,
 19025568: 0.0,
 19025442: 0.0,
 19025237: 0.0,
 19024692: 0.0,
 19023015: 0.0,
 19020074: 1.0,
 19018567: 0.0,
 19018059: 0.0,
 19017203: 0.0,
 19016010: 0.0,
 19015967: 0.0,
 19014313: 0.0,
 19014149: 0.0,
 19011623: 0.0,
 19011128: 0.0,
 19008024: 0.0,
 19007619: 0.0,
 19003073: 0.0,
 19001598: 0.0,
 18998398: 1.0,
 18998394: 0.0,
 18997544: 0.0,
 18993676: 0.0,
 18988313: 0.0,
 18985506: 0.0,
 18985240: 0.0,
 18983427: 0.0,
 18981355: 0.0,
 18981283: 0.0,
 18978633: 0.0,
 18977683: 0.0,
 18977558: 0.0,
 18970801: 0.0,
 18968808: 0.0,
 18968644: 0.0,
 18965721: 0.0,
 18963838: 0.0,
 18962557: 1.0,
 18961402: 0.0,
 18960333: 0.0,
 18957860: 0.0,
 18957445: 0.0,
 18956669: 0.0,
 18956645: 0.0,
 18955798: 0.0,
 18954232: 0.0,
 18953687: 0.0,
 18948466: 0.0,
 18940596: 0.0,
 18935733: 0.0,
 18935678: 1.0,
 18935074: 0.0,
 18932912: 0.0,
 18930355: 1.0,
 18928098: 0.0,
 18924126: 0.0,
 18922684: 0.0,
 18920032: 0.0,
 18919791: 0.0,
 18915803: 0.0,
 18913208: 0.0,
 18911518: 0.0,
 18909606: 0.0,
 18905861: 0.0,
 18905773: 0.0,
 18904344: 0.0,
 18902344: 1.0,
 18900479: 0.0,
 18897562: 0.0,
 18896613: 0.0,
 18895168: 0.0,
 18893199: 0.0,
 18890591: 0.0,
 18886040: 0.0,
 18877141: 0.0,
 18875996: 0.0,
 18874154: 0.0,
 18872738: 1.0,
 18870991: 0.0,
 18870233: 0.0,
 18869142: 0.0,
 18866492: 0.0,
 18866430: 0.0,
 18862854: 0.0,
 18861184: 0.0,
 18860049: 0.0,
 18858771: 0.0,
 18857939: 0.0,
 18856901: 0.0,
 18856079: 0.0,
 18853045: 0.0,
 18852313: 0.0,
 18850618: 0.0,
 18848152: 0.0,
 18843860: 0.0,
 18835890: 0.0,
 18835879: 0.0,
 18834954: 0.0,
 18834457: 0.0,
 18828209: 0.0,
 18818535: 0.0,
 18817461: 0.0,
 18817034: 0.0,
 18815419: 0.0,
 18815096: 0.0,
 18813314: 0.0,
 18811375: 0.0,
 18810660: 0.0,
 18809151: 0.0,
 18807164: 0.0,
 18805415: 1.0,
 18802058: 0.0,
 18798373: 0.0,
 18797174: 0.0,
 18786508: 1.0,
 18786125: 0.0,
 18785721: 0.0,
 18785569: 0.0,
 18784941: 0.0,
 18782194: 0.0,
 18781587: 0.0,
 18780736: 1.0,
 18779091: 0.0,
 18778581: 0.0,
 18778034: 0.0,
 18772457: 0.0,
 18769537: 0.0,
 18767945: 1.0,
 18763350: 0.0,
 18761542: 0.0,
 18759876: 0.0,
 18759300: 0.0,
 18756147: 0.0,
 18754359: 0.0,
 18753156: 0.0,
 18749946: 0.0,
 18749714: 0.0,
 18742612: 0.0,
 18737769: 0.0,
 18736150: 0.0,
 18734116: 0.0,
 18732243: 0.0,
 18730402: 0.0,
 18728445: 0.0,
 18728170: 0.0,
 18719886: 0.0,
 18719217: 0.0,
 18717446: 0.0,
 18716770: 0.0,
 18715650: 0.0,
 18714899: 0.0,
 18714778: 0.0,
 18714676: 1.0,
 18712965: 0.0,
 18712695: 0.0,
 18708817: 0.0,
 18705941: 0.0,
 18700699: 0.0,
 18698078: 0.0,
 18696241: 0.0,
 18694307: 0.0,
 18691929: 0.0,
 18686554: 0.0,
 18681844: 0.0,
 18680783: 0.0,
 18680344: 0.0,
 18677758: 0.0,
 18676703: 0.0,
 18673836: 0.0,
 18673317: 0.0,
 18672842: 0.0,
 18667173: 0.0,
 18666534: 0.0,
 18664865: 0.0,
 18663039: 0.0,
 18662773: 0.0,
 18659888: 0.0,
 18659452: 1.0,
 18657647: 1.0,
 18655864: 1.0,
 18655830: 0.0,
 18655396: 0.0,
 18653563: 0.0,
 18653131: 0.0,
 18650873: 0.0,
 18650549: 0.0,
 18644282: 0.0,
 18642968: 0.0,
 18641560: 0.0,
 18639920: 0.0,
 18635022: 0.0,
 18630669: 0.0,
 18628571: 0.0,
 18625820: 0.0,
 18624005: 0.0,
 18623996: 0.0,
 18623405: 0.0,
 18621644: 0.0,
 18621427: 0.0,
 18620666: 0.0,
 18618339: 0.0,
 18616724: 0.0,
 18616190: 0.0,
 18613150: 0.0,
 18611856: 0.0,
 18606160: 0.0,
 18596679: 1.0,
 18592239: 1.0,
 18589167: 0.0,
 18588165: 0.0,
 18572238: 0.0,
 18571031: 0.0,
 18569328: 1.0,
 18567979: 0.0,
 18567594: 0.0,
 18566555: 0.0,
 18565756: 0.0,
 18563813: 0.0,
 18563551: 0.0,
 18561128: 0.0,
 18559511: 0.0,
 18558866: 0.0,
 18557837: 0.0,
 18556017: 0.0,
 18553859: 0.0,
 18552025: 0.0,
 18551287: 0.0,
 18551091: 1.0,
 18549459: 0.0,
 18548808: 0.0,
 18548730: 0.0,
 18547152: 0.0,
 18546999: 0.0,
 18544301: 0.0,
 18541491: 0.0,
 18539987: 0.0,
 18539548: 0.0,
 18539062: 1.0,
 18538180: 0.0,
 18537521: 1.0,
 18532024: 0.0,
 18531774: 0.0,
 18530386: 0.0,
 18529297: 0.0,
 18528693: 0.0,
 18528509: 0.0,
 18527192: 1.0,
 18524387: 0.0,
 18523441: 0.0,
 18523103: 0.0,
 18523073: 0.0,
 18521412: 0.0,
 18519956: 0.0,
 18519675: 0.0,
 18519417: 0.0,
 18515129: 0.0,
 18514327: 0.0,
 18513809: 0.0,
 18512911: 0.0,
 18505436: 0.0,
 18503226: 0.0,
 18495519: 0.0,
 18491974: 0.0,
 18490080: 0.0,
 18487934: 0.0,
 18483313: 0.0,
 18481231: 0.0,
 18478557: 0.0,
 18477492: 0.0,
 18477137: 0.0,
 18471938: 0.0,
 18467002: 0.0,
 18457029: 0.0,
 18456328: 0.0,
 18450786: 0.0,
 18446519: 0.0,
 18444631: 0.0,
 18443312: 0.0,
 18439956: 0.0,
 18439826: 0.0,
 18437011: 0.0,
 18436961: 1.0,
 18425923: 0.0,
 18425303: 0.0,
 18420003: 0.0,
 18418109: 0.0,
 18415840: 0.0,
 18415761: 0.0,
 18415643: 0.0,
 18411490: 0.0,
 18411232: 0.0,
 18407494: 0.0,
 18403410: 0.0,
 18401697: 0.0,
 18394610: 0.0,
 18393192: 1.0,
 18388383: 0.0,
 18388060: 0.0,
 18387688: 0.0,
 18382353: 0.0,
 18381533: 0.0,
 18379273: 0.0,
 18378370: 0.0,
 18377937: 0.0,
 18376053: 0.0,
 18371155: 0.0,
 18370173: 0.0,
 18369032: 0.0,
 18368572: 0.0,
 18364002: 0.0,
 18363218: 0.0,
 18361722: 0.0,
 18358138: 0.0,
 18356938: 0.0,
 18351275: 0.0,
 18350105: 0.0,
 18347948: 0.0,
 18345518: 0.0,
 18344274: 0.0,
 18343726: 0.0,
 18342365: 0.0,
 18339865: 0.0,
 18336565: 0.0,
 18336221: 0.0,
 18335638: 0.0,
 18335108: 0.0,
 18327488: 0.0,
 18325765: 0.0,
 18322622: 0.0,
 18321345: 0.0,
 18320971: 0.0,
 18320822: 0.0,
 18320665: 0.0,
 18319482: 0.0,
 18315051: 0.0,
 18313642: 0.0,
 18313393: 0.0,
 18308271: 1.0,
 18307935: 0.0,
 18306686: 0.0,
 18304932: 0.0,
 18303329: 0.0,
 18300044: 0.0,
 18300020: 0.0,
 18299586: 0.0,
 18298757: 0.0,
 18297255: 0.0,
 18295168: 0.0,
 18292792: 0.0,
 18290406: 0.0,
 18287972: 0.0,
 18281214: 0.0,
 18281196: 0.0,
 18277239: 0.0,
 18273628: 0.0,
 18270650: 0.0,
 18268185: 0.0,
 18268121: 0.0,
 18266157: 0.0,
 18260873: 0.0,
 18259436: 0.0,
 18258071: 0.0,
 18257244: 0.0,
 18255155: 0.0,
 18253031: 0.0,
 18252222: 0.0,
 18250256: 0.0,
 18249606: 0.0,
 18244896: 0.0,
 18244848: 0.0,
 18242864: 0.0,
 18237751: 0.0,
 18232834: 0.0,
 18230852: 0.0,
 18230098: 1.0,
 18229881: 0.0,
 18229663: 0.0,
 18229367: 0.0,
 18228742: 0.0,
 18227371: 0.0,
 18222070: 0.0,
 18220761: 0.0,
 18219105: 0.0,
 18218981: 0.0,
 18217747: 0.0,
 18214616: 0.0,
 18214372: 0.0,
 18212177: 0.0,
 18206751: 0.0,
 18205009: 1.0,
 18203241: 0.0,
 18202111: 0.0,
 18197271: 0.0,
 18196683: 0.0,
 18195416: 0.0,
 18193912: 0.0,
 18192515: 0.0,
 18189739: 0.0,
 18187485: 0.0,
 18187193: 0.0,
 18183464: 0.0,
 18179783: 0.0,
 18179030: 0.0,
 18176683: 0.0,
 18175753: 0.0,
 18175554: 0.0,
 18175344: 0.0,
 18173731: 0.0,
 18172990: 0.0,
 19997471: 0.0,
 19997367: 0.0,
 19992875: 0.0,
 19973133: 0.0,
 19973083: 0.0,
 19972786: 0.0,
 19972371: 0.0,
 19966115: 0.0,
 19965533: 0.0,
 19963276: 0.0,
 19961611: 0.0,
 19957730: 0.0,
 19957540: 0.0,
 19952120: 0.0,
 19945482: 0.0,
 19940147: 0.0,
 19939978: 0.0,
 19938264: 0.0,
 19937419: 0.0,
 19936782: 0.0,
 19936204: 0.0,
 19935090: 0.0,
 19934547: 0.0,
 19933770: 0.0,
 19933011: 0.0,
 19929995: 0.0,
 19926992: 0.0,
 19923191: 0.0,
 19921471: 0.0,
 19917245: 0.0,
 19913936: 0.0,
 19913597: 0.0,
 19911902: 0.0,
 19911133: 0.0,
 19910087: 0.0,
 19909352: 0.0,
 19907228: 0.0,
 19905254: 0.0,
 19904365: 0.0,
 19901341: 0.0,
 19897794: 0.0,
 19895419: 0.0,
 19894323: 0.0,
 19893791: 0.0,
 19890872: 0.0,
 19884085: 0.0,
 19882171: 0.0,
 19881575: 0.0,
 19881376: 0.0,
 19876231: 0.0,
 19876093: 0.0,
 19872265: 0.0,
 19871603: 1.0,
 19871179: 0.0,
 19869374: 0.0,
 19868094: 0.0,
 19867113: 0.0,
 19866480: 0.0,
 19866143: 0.0,
 19865666: 0.0,
 19865164: 0.0,
 19861211: 0.0,
 19860347: 0.0,
 19855685: 0.0,
 19855099: 1.0,
 19853992: 0.0,
 19848401: 0.0,
 19847229: 0.0,
 19846911: 0.0,
 19837131: 0.0,
 19831538: 0.0,
 19830951: 0.0,
 19828713: 0.0,
 19825601: 0.0,
 19824151: 0.0,
 19814315: 0.0,
 19813893: 1.0,
 19813794: 0.0,
 19813574: 0.0,
 19808487: 0.0,
 19804575: 0.0,
 19804374: 0.0,
 19801386: 0.0,
 19799143: 0.0,
 19798925: 0.0,
 19798578: 0.0,
 19797689: 0.0,
 19796262: 0.0,
 19791907: 0.0,
 19791816: 0.0,
 19788705: 0.0,
 19787448: 0.0,
 19784487: 0.0,
 19784206: 0.0,
 19780933: 0.0,
 19780829: 0.0,
 19776354: 0.0,
 19775943: 0.0,
 19774387: 0.0,
 19773991: 0.0,
 19765968: 1.0,
 19764805: 0.0,
 19764408: 0.0,
 19763506: 0.0,
 19759865: 0.0,
 19759491: 1.0,
 19757720: 0.0,
 19747955: 0.0,
 19747837: 1.0,
 19747328: 0.0,
 19743417: 0.0,
 19742448: 0.0,
 19742427: 0.0,
 19740429: 0.0,
 19737741: 0.0,
 19735809: 0.0,
 19734749: 0.0,
 19723798: 0.0,
 19721567: 0.0,
 19717536: 0.0,
 19715857: 0.0,
 19715663: 0.0,
 19714547: 0.0,
 19713842: 0.0,
 19712188: 0.0,
 19710521: 1.0,
 19708049: 0.0,
 19706929: 0.0,
 19700875: 0.0,
 19700168: 0.0,
 19697746: 0.0,
 19693912: 1.0,
 19692527: 0.0,
 19689477: 0.0,
 19687661: 0.0,
 19687532: 0.0,
 19684837: 0.0,
 19683065: 0.0,
 19681894: 0.0,
 19680953: 0.0,
 19677245: 0.0,
 19676805: 0.0,
 19674536: 0.0,
 19673384: 0.0,
 19673077: 0.0,
 19670384: 0.0,
 19669180: 0.0,
 19660235: 0.0,
 19655310: 0.0,
 19655295: 1.0,
 19653956: 0.0,
 19652685: 0.0,
 19649482: 0.0,
 19648488: 0.0,
 19648225: 0.0,
 19646006: 0.0,
 19643214: 0.0,
 19643135: 0.0,
 19643038: 0.0,
 19642116: 0.0,
 19640059: 0.0,
 19639649: 0.0,
 19634835: 0.0,
 19632307: 1.0,
 19626709: 0.0,
 19625778: 0.0,
 19624082: 0.0,
 19623993: 0.0,
 19619737: 0.0,
 19619252: 0.0,
 19618591: 0.0,
 19613765: 0.0,
 19612932: 1.0,
 19612002: 0.0,
 19610569: 0.0,
 19609862: 0.0,
 19608190: 0.0,
 19606180: 0.0,
 ...}

In [59]:
squeezed['diagnosis_1'] = squeezed['patient_id'].map(document_dict_1) 
squeezed['diagnosis_2'] = squeezed['patient_id'].map(document_dict_2) 
squeezed['diagnosis_3'] = squeezed['patient_id'].map(document_dict_3) 
squeezed['diagnosis_4'] = squeezed['patient_id'].map(document_dict_4) 
squeezed['diagnosis_5'] = squeezed['patient_id'].map(document_dict_5) 
squeezed['diagnosis_6'] = squeezed['patient_id'].map(document_dict_6) 
squeezed['diagnosis_7'] = squeezed['patient_id'].map(document_dict_7) 
squeezed['diagnosis_8'] = squeezed['patient_id'].map(document_dict_8) 
squeezed['diagnosis_9'] = squeezed['patient_id'].map(document_dict_9) 
squeezed['diagnosis_10'] = squeezed['patient_id'].map(document_dict_10) 
squeezed

,patient_id,1482681,1520176,1520177,1520178,1520179,1520180,1520181,1520182,1520183,...,diagnosis_1,diagnosis_2,diagnosis_3,diagnosis_4,diagnosis_5,diagnosis_6,diagnosis_7,diagnosis_8,diagnosis_9,diagnosis_10
0,16999416,NaN,0.600000,93.750000,NaN,NaN,NaN,NaN,NaN,13.428571,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,16999815,1.296590,NaN,87.125000,NaN,NaN,NaN,NaN,NaN,11.333333,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,17000103,4.956930,3.850000,87.954545,NaN,NaN,NaN,NaN,NaN,12.518519,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
3,17000205,NaN,3.400000,90.375000,NaN,NaN,NaN,NaN,NaN,12.875000,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
4,17001006,2.330205,3.045455,89.494737,57.75,NaN,NaN,NaN,NaN,13.112150,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8292,19998350,NaN,2.100000,81.666667,NaN,32.0,NaN,NaN,NaN,13.333333,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
8293,19998497,NaN,1.500000,91.851852,24.00,199.5,NaN,NaN,NaN,14.923077,...,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0
8294,19999379,NaN,NaN,92.000000,NaN,NaN,NaN,NaN,NaN,13.000000,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
8295,19999625,0.960741,0.100000,86.000000,65.00,NaN,NaN,NaN,NaN,12.181818,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
8296,19999784,NaN,2.709434,83.649573,NaN,NaN,2031.0,NaN,NaN,10.289256,...,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0

In [60]:
dataset_for_modeling=squeezed

In [106]:
dataset_for_modeling

,patient_id,1482681,1520176,1520177,1520178,1520179,1520180,1520181,1520182,1520183,...,diagnosis_1,diagnosis_2,diagnosis_3,diagnosis_4,diagnosis_5,diagnosis_6,diagnosis_7,diagnosis_8,diagnosis_9,diagnosis_10
0,16999416,nan,0.6,93.75,nan,nan,nan,nan,nan,13.428571428571429,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,16999815,1.29659,nan,87.125,nan,nan,nan,nan,nan,11.333333333333334,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,17000103,4.95693,3.85,87.95454545454545,nan,nan,nan,nan,nan,12.518518518518519,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
3,17000205,nan,3.4,90.375,nan,nan,nan,nan,nan,12.875,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
4,17001006,2.3302050000000003,3.0454545454545454,89.49473684210527,57.75,nan,nan,nan,nan,13.11214953271028,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8292,19998350,nan,2.1,81.66666666666667,nan,32.0,nan,nan,nan,13.333333333333334,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
8293,19998497,nan,1.5,91.85185185185185,24.0,199.5,nan,nan,nan,14.923076923076923,...,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0
8294,19999379,nan,nan,92.0,nan,nan,nan,nan,nan,13.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
8295,19999625,0.960741,0.1,86.0,65.0,nan,nan,nan,nan,12.181818181818182,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
8296,19999784,nan,2.709433962264151,83.64957264957265,nan,nan,2031.0,nan,nan,10.289256198347108,...,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0

In [ ]:
dataset_for_modeling.to_csv("dataset_for_modeling.csv")

## Trying Random forest for this dataset

In [ ]:
%%time
#dataset_for_modeling=dataset_for_modeling.applymap(str)

list_patients=dataset_for_modeling["patient_id"].unique()



for j in range(10):
    print("Diagnosis:",j+1)
    jj=10-j
    #print(jj)
    list_score=[]
    for i in range(len(list_patients)):
        print(i)
#         if i>5: #doing for only one patient for now
#             break
        patient_id=list_patients[i]

        #making test_set
        test_set=dataset_for_modeling.query("patient_id == @patient_id") #Taking only one patients all info as test set
        #test_set=test_set.replace("NaN",np.nan)
        test_set=test_set.dropna(axis=1, how='all')

        #making the training set
        list_columns=test_set.columns.tolist()
        data1=dataset_for_modeling[list_columns]
        training_set=data1.query("patient_id != @patient_id")
        training_set=training_set.reset_index()
        training_set=training_set.drop(['index'], axis=1)

        #print("test train set is done")
        #print(test_set)
        #print(training_set)
        col_n=len(test_set.columns)

        X_train=training_set.iloc[:,1:col_n-10]
        X_test=test_set.iloc[:,1:col_n-10]
        y_train=training_set.iloc[:,col_n-jj]
        y_test=test_set.iloc[:,col_n-jj]

        X_train=X_train.values
        X_test=X_test.values
        y_train=y_train.values
        y_test=y_test.values  

        #print("values of test train set are extracted")

        X_train[X_train == 'nan'] = 0.0
        X_test[X_test == 'nan'] = 0.0

        oversample = SMOTE()
        X_train_res, y_train_res = oversample.fit_resample(X_train, y_train)

        # Feature ScalingÂ 
        sc_X = StandardScaler()
        X_train = sc_X.fit_transform(X_train_res)
        X_test = sc_X.transform(X_test)

        #print("defining rf")

        Rfclassifier = RandomForestClassifier(n_estimators=10, criterion='entropy', class_weight="balanced_subsample", random_state=42)

        Rfclassifier.fit(X_train_res, y_train_res.ravel())

        # Predicting the Test set results
        y_pred_rf = Rfclassifier.predict(X_test)
        #print('y_preds_rf:', y_pred_rf)

        # Making the confusion Matrix
        cm_rf = confusion_matrix(y_test, y_pred_rf)
        #print('confusion matrix_rf:', cm_rf)

        # predict for the patient

        cm_rf = confusion_matrix(y_test, y_pred_rf)


        def rf_report():
            patient_pred_rf = Rfclassifier.predict(X_test)
            report = classification_report(y_test, y_pred_rf, output_dict=True)
            df_report = pd.DataFrame(report).transpose()

            return df_report

        rf_report()
        df_rf=rf_report()
        #display(df_rf)
        val_rf=df_rf['f1-score']['macro avg']
        #print("For","Random forest macro avg F1 score",val_rf)
        list_score.append(val_rf)
    print("Average macro avg F1 score for",dataset_for_modeling.iloc[:,col_n-jj].name,"is",np.mean(list_score))

## Trying LightGBM for this dataset

In [ ]:
%%time
#dataset_for_modeling=dataset_for_modeling.applymap(str)

list_patients=dataset_for_modeling["patient_id"].unique()



for j in range(7,10):
    print("Diagnosis:",j+1)
    jj=10-j
    #print(jj)
    list_score=[]
    for i in range(len(list_patients)):
        print(i)
#         if i>2: #doing for only one patient for now
#             break
        patient_id=list_patients[i]

        #making test_set
        test_set=dataset_for_modeling.query("patient_id == @patient_id") #Taking only one patients all info as test set
        #test_set=test_set.replace("NaN",np.nan)
        test_set=test_set.dropna(axis=1, how='all')

        #making the training set
        list_columns=test_set.columns.tolist()
        data1=dataset_for_modeling[list_columns]
        training_set=data1.query("patient_id != @patient_id")
        training_set=training_set.reset_index()
        training_set=training_set.drop(['index'], axis=1)

        #print("test train set is done")
        #print(test_set)
        #print(training_set)
        col_n=len(test_set.columns)

        X_train=training_set.iloc[:,1:col_n-10]
        X_test=test_set.iloc[:,1:col_n-10]
        y_train=training_set.iloc[:,col_n-jj]
        y_test=test_set.iloc[:,col_n-jj]

        X_train=X_train.values
        X_test=X_test.values
        y_train=y_train.values
        y_test=y_test.values  

        #print("values of test train set are extracted")

        X_train[X_train == 'nan'] = 0.0
        X_test[X_test == 'nan'] = 0.0

        oversample = SMOTE()
        X_train_res, y_train_res = oversample.fit_resample(X_train, y_train)

        # Feature ScalingÂ 
        sc_X = StandardScaler()
        X_train = sc_X.fit_transform(X_train_res)
        X_test = sc_X.transform(X_test)

        #print("defining rf")

        lgb_classifier = lgb.LGBMClassifier()
        lgb_classifier.fit(X_train_res, y_train_res)

        # Predicting the Test set results
        y_pred_rf = lgb_classifier.predict(X_test)
        #print('y_preds_rf:', y_pred_rf)

        # Making the confusion Matrix
        cm_rf = confusion_matrix(y_test, y_pred_rf)
        #print('confusion matrix_rf:', cm_rf)

        # predict for the patient

        cm_rf = confusion_matrix(y_test, y_pred_rf)


        def rf_report():
            patient_pred_rf = lgb_classifier.predict(X_test)
            report = classification_report(y_test, y_pred_rf, output_dict=True)
            df_report = pd.DataFrame(report).transpose()

            return df_report

        rf_report()
        df_rf=rf_report()
        #display(df_rf)
        val_rf=df_rf['f1-score']['macro avg']
        #print("For","Random forest macro avg F1 score",val_rf)
        list_score.append(val_rf)
    print("Average macro avg F1 score for",dataset_for_modeling.iloc[:,col_n-jj].name,"is",np.mean(list_score))

## Trying XGBoost for this dataset

In [ ]:
%%time
#dataset_for_modeling=dataset_for_modeling.applymap(str)

list_patients=dataset_for_modeling["patient_id"].unique()



for j in range(2,10):
    print("Diagnosis:",j+1)
    jj=10-j
    #print(jj)
    list_score=[]
    for i in range(len(list_patients)):
        print(i)
#         if i>2: #doing for only one patient for now
#             break
        patient_id=list_patients[i]

        #making test_set
        test_set=dataset_for_modeling.query("patient_id == @patient_id") #Taking only one patients all info as test set
        #test_set=test_set.replace("NaN",np.nan)
        test_set=test_set.dropna(axis=1, how='all')

        #making the training set
        list_columns=test_set.columns.tolist()
        data1=dataset_for_modeling[list_columns]
        training_set=data1.query("patient_id != @patient_id")
        training_set=training_set.reset_index()
        training_set=training_set.drop(['index'], axis=1)

        #print("test train set is done")
        #print(test_set)
        #print(training_set)
        col_n=len(test_set.columns)

        X_train=training_set.iloc[:,1:col_n-10]
        X_test=test_set.iloc[:,1:col_n-10]
        y_train=training_set.iloc[:,col_n-jj]
        y_test=test_set.iloc[:,col_n-jj]

        X_train=X_train.values
        X_test=X_test.values
        y_train=y_train.values
        y_test=y_test.values  

        #print("values of test train set are extracted")

        X_train[X_train == 'nan'] = 0.0
        X_test[X_test == 'nan'] = 0.0

        oversample = SMOTE()
        X_train_res, y_train_res = oversample.fit_resample(X_train, y_train)

        # Feature ScalingÂ 
        sc_X = StandardScaler()
        X_train = sc_X.fit_transform(X_train_res)
        X_test = sc_X.transform(X_test)

        #print("defining rf")

        xgclassifier = XGBClassifier(n_estimators=10, criterion='entropy', class_weight="balanced_subsample", random_state=42)

        xgclassifier.fit(X_train_res, y_train_res.ravel())

        # Predicting the Test set results
        y_pred_rf = xgclassifier.predict(X_test)
        #print('y_preds_rf:', y_pred_rf)

        # Making the confusion Matrix
        cm_rf = confusion_matrix(y_test, y_pred_rf)
        #print('confusion matrix_rf:', cm_rf)

        # predict for the patient

        cm_rf = confusion_matrix(y_test, y_pred_rf)


        def rf_report():
            patient_pred_rf = xgclassifier.predict(X_test)
            report = classification_report(y_test, y_pred_rf, output_dict=True)
            df_report = pd.DataFrame(report).transpose()

            return df_report

        rf_report()
        df_rf=rf_report()
        #display(df_rf)
        val_rf=df_rf['f1-score']['macro avg']
        #print("For","Random forest macro avg F1 score",val_rf)
        list_score.append(val_rf)
    print("Average macro avg F1 score for",dataset_for_modeling.iloc[:,col_n-jj].name,"is",np.mean(list_score))

## Dataframe making according to professor's suggestion

In [145]:
%%time
dataset_for_modeling=pd.read_csv("dataset_for_modeling.csv")
dataset_for_modeling=dataset_for_modeling.drop(["Unnamed: 0"],axis=1)
dataset_for_modeling=dataset_for_modeling.drop(["diagnosis_1","diagnosis_2","diagnosis_3","diagnosis_4","diagnosis_5","diagnosis_6","diagnosis_7","diagnosis_8","diagnosis_9","diagnosis_10"],axis=1)
dataset_for_modeling=dataset_for_modeling.applymap(str)
dataset_for_modeling

CPU times: user 905 ms, sys: 35.4 ms, total: 940 ms
Wall time: 938 ms

,patient_id,1482681,1520176,1520177,1520178,1520179,1520180,1520181,1520182,1520183,...,1529674,1529675,1529676,1529677,1529678,1529679,1529680,1529682,1529683,1529684
0,16999416,nan,0.6,93.75,nan,nan,nan,nan,nan,13.428571428571429,...,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan
1,16999815,1.29659,nan,87.125,nan,nan,nan,nan,nan,11.333333333333334,...,106.0,233.2,69.0,175.0,nan,nan,nan,nan,nan,nan
2,17000103,4.95693,3.85,87.95454545454545,nan,nan,nan,nan,nan,12.51851851851852,...,86.8,191.0,nan,nan,nan,nan,nan,nan,nan,nan
3,17000205,nan,3.4,90.375,nan,nan,nan,nan,nan,12.875,...,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan
4,17001006,2.3302050000000003,3.0454545454545454,89.49473684210527,57.75,nan,nan,nan,nan,13.11214953271028,...,80.4,179.66666666666666,nan,nan,nan,nan,nan,nan,nan,nan
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8292,19998350,nan,2.1,81.66666666666667,nan,32.0,nan,nan,nan,13.333333333333334,...,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan
8293,19998497,nan,1.5,91.85185185185183,24.0,199.5,nan,nan,nan,14.923076923076923,...,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan
8294,19999379,nan,nan,92.0,nan,nan,nan,nan,nan,13.0,...,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan
8295,19999625,0.960741,0.1,86.0,65.0,nan,nan,nan,nan,12.181818181818182,...,50.5,111.1,nan,nan,nan,nan,nan,nan,nan,nan
8296,19999784,nan,2.709433962264151,83.64957264957265,nan,nan,2031.0,nan,nan,10.289256198347108,...,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan

In [143]:
df1 = pd.read_csv('10k-diagnosis.csv',header=None)
df1 = df1.rename(columns={0: 'patient_id', 1: 'diagnosis_coded'})
df1.head()


list_index=[]
for i in range(df1.shape[0]): #Taking only the 10 diagnoses
    if df1.iloc[i,1]=='1385187' or df1.iloc[i,1]=='1385109' or df1.iloc[i,1]=='1384870' or df1.iloc[i,1]=='1384841' or df1.iloc[i,1]=='1384995' or df1.iloc[i,1]=='1397715' or df1.iloc[i,1]=='1384886' or df1.iloc[i,1]=='1474651' or df1.iloc[i,1]=='1385083' or df1.iloc[i,1]=='1385121':
        #print(i)
        list_index.append(i)
        
df1=df1.iloc[list_index]
df1=df1.reset_index()
df1=df1.drop(['index'], axis=1)
df1=df1.drop_duplicates()
df1=df1.reset_index()
df1=df1.drop(['index'], axis=1)
df1

       patient_id diagnosis_coded
0        19563570         1384841
1        19557987         1384841
2        19557524         1384841
3        19556594         1384841
4        19555886         1384841
...           ...             ...
12577    17008429         1474651
12578    17008031         1474651
12579    17006542         1474651
12580    17002218         1474651
12581    16998984         1474651

[12582 rows x 2 columns]

In [ ]:
uniquep=list(df1["patient_id"].unique())
allp=list(df1["patient_id"].values)
for i in range(len(uniquep)):
    for j in range(len(allp)):
        if uniquep[i]==allp[j]:
            allp.remove(allp[j])
            break

In [ ]:
dataset_feb04=dataset_for_modeling
for i in range(len(allp)):
#     if i>100:
#         break
    patient_id=allp[i]
    #print(patient_id)
    #print(i)
    for j in range(dataset_for_modeling.shape[0]):
#         if j>5:
#             break
        #print(j)
        patient_id_1=dataset_for_modeling["patient_id"][j]
        #print(patient_id_1)
        if str(patient_id)==str(patient_id_1):
            #print(j)
            patient_id_1=str(patient_id_1)
            df_2=dataset_for_modeling.query("patient_id == @patient_id_1")
            #display(df_2)
            dataset_feb04=pd.concat([dataset_feb04,df_2],axis=0)

In [211]:
dataset_feb04

,patient_id,1482681,1520176,1520177,1520178,1520179,1520180,1520181,1520182,1520183,...,1529674,1529675,1529676,1529677,1529678,1529679,1529680,1529682,1529683,1529684
0,16999416,nan,0.6,93.75,nan,nan,nan,nan,nan,13.428571428571429,...,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan
1,16999815,1.29659,nan,87.125,nan,nan,nan,nan,nan,11.333333333333334,...,106.0,233.2,69.0,175.0,nan,nan,nan,nan,nan,nan
2,17000103,4.95693,3.85,87.95454545454545,nan,nan,nan,nan,nan,12.51851851851852,...,86.8,191.0,nan,nan,nan,nan,nan,nan,nan,nan
3,17000205,nan,3.4,90.375,nan,nan,nan,nan,nan,12.875,...,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan
4,17001006,2.3302050000000003,3.0454545454545454,89.49473684210527,57.75,nan,nan,nan,nan,13.11214953271028,...,80.4,179.66666666666666,nan,nan,nan,nan,nan,nan,nan,nan
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
99,17035507,nan,2.0,94.0,nan,nan,nan,nan,nan,16.0,...,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan
82,17029062,nan,2.2,87.0,nan,nan,nan,nan,nan,13.0,...,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan
79,17027866,0.53941,2.0454545454545454,66.29787234042553,42.0,120.5,nan,nan,nan,13.916666666666666,...,111.3,251.0,nan,nan,nan,nan,nan,nan,nan,nan
41,17011846,1.3294186666666663,2.611764705882353,88.0,nan,167.0,nan,nan,nan,13.944444444444445,...,70.97777777777777,157.32142857142858,68.0,172.5,64.0,nan,nan,nan,nan,nan
9,17002218,nan,1.475,86.375,nan,139.0,nan,nan,nan,12.25,...,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan

In [ ]:
dataset_feb04=dataset_feb04.reset_index()
dataset_feb04=dataset_feb04.drop(["index"],axis=1)
dataset_feb04

In [ ]:
dataset_feb04["diagnosis_coded"]=np.nan
for i in range(df1.shape[0]):
    #print(i)
    for j in range(dataset_feb04.shape[0]):
        if str(df1["patient_id"][i])==str(dataset_feb04["patient_id"][j]):
            if str(dataset_feb04["diagnosis_coded"][j])=='nan':
                dataset_feb04["diagnosis_coded"][j]=df1["diagnosis_coded"][i]
                break
                
dataset_feb04

In [282]:
dataset_feb04=dataset_feb04.replace({'1385187':0,'1385109':1,'1384870':2,'1384841':3,'1384995':4,'1397715':5,'1384886':6,'1474651':7,'1385083':8,'1385121':9})
dataset_feb04

,patient_id,1482681,1520176,1520177,1520178,1520179,1520180,1520181,1520182,1520183,...,1529675,1529676,1529677,1529678,1529679,1529680,1529682,1529683,1529684,diagnosis_coded
0,16999416,nan,0.6,93.75,nan,nan,nan,nan,nan,13.428571428571429,...,nan,nan,nan,nan,nan,nan,nan,nan,nan,6
1,16999815,1.29659,nan,87.125,nan,nan,nan,nan,nan,11.333333333333334,...,233.2,69.0,175.0,nan,nan,nan,nan,nan,nan,2
2,17000103,4.95693,3.85,87.95454545454545,nan,nan,nan,nan,nan,12.51851851851852,...,191.0,nan,nan,nan,nan,nan,nan,nan,nan,9
3,17000205,nan,3.4,90.375,nan,nan,nan,nan,nan,12.875,...,nan,nan,nan,nan,nan,nan,nan,nan,nan,0
4,17001006,2.3302050000000003,3.0454545454545454,89.49473684210527,57.75,nan,nan,nan,nan,13.11214953271028,...,179.66666666666666,nan,nan,nan,nan,nan,nan,nan,nan,3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10782,17035507,nan,2.0,94.0,nan,nan,nan,nan,nan,16.0,...,nan,nan,nan,nan,nan,nan,nan,nan,nan,7
10783,17029062,nan,2.2,87.0,nan,nan,nan,nan,nan,13.0,...,nan,nan,nan,nan,nan,nan,nan,nan,nan,7
10784,17027866,0.53941,2.0454545454545454,66.29787234042553,42.0,120.5,nan,nan,nan,13.916666666666666,...,251.0,nan,nan,nan,nan,nan,nan,nan,nan,7
10785,17011846,1.3294186666666663,2.611764705882353,88.0,nan,167.0,nan,nan,nan,13.944444444444445,...,157.32142857142858,68.0,172.5,64.0,nan,nan,nan,nan,nan,7
10786,17002218,nan,1.475,86.375,nan,139.0,nan,nan,nan,12.25,...,nan,nan,nan,nan,nan,nan,nan,nan,nan,7

In [295]:
dataset_feb04.to_csv("dataset_feb04.csv")

## Finding number of patients who have multiple diagnosis

In [317]:
list_unique_patients=list(dataset_feb04["patient_id"].unique())
list_all_patients=list(dataset_feb04["patient_id"].values)
i=0
while len(list_unique_patients) > 0:
    patient_unique_number=len(list_unique_patients)
    print(patient_unique_number,"patients have at least",i+1,"diagnosis")
    uniquep=list_unique_patients
    allp=list_all_patients
    for k in range(len(uniquep)):
        for j in range(len(allp)):
            if uniquep[k]==allp[j]:
                allp.remove(allp[j])
                break
    list_unique_patients=list(set(allp))
    list_all_patients=allp
    i=i+1

8297 patients have at least 1 diagnosis
1893 patients have at least 2 diagnosis
474 patients have at least 3 diagnosis
98 patients have at least 4 diagnosis
19 patients have at least 5 diagnosis
4 patients have at least 6 diagnosis
2 patients have at least 7 diagnosis

## Trying Random Forest for this dataset

In [ ]:
%%time
#dataset_feb04=dataset_feb04.applymap(str)

list_patients=dataset_feb04["patient_id"].unique()



# for j in range(10):
#     print("Diagnosis:",j+1)
#     jj=10-j
#     #print(jj)
#list_score=[]
for i in range(len(list_patients)):
    print(i)
#     if i>20: #doing for only one patient for now
#         break
    patient_id=list_patients[i]
    #patient_id=str(18230098)
    #making test_set
    test_set=dataset_feb04.query("patient_id == @patient_id") #Taking only one patients all info as test set
    #test_set=test_set.replace("NaN",np.nan)
    test_set=test_set.dropna(axis=1, how='all')

    #making the training set
    list_columns=test_set.columns.tolist()
    data1=dataset_feb04[list_columns]
    training_set=data1.query("patient_id != @patient_id")
    training_set=training_set.reset_index()
    training_set=training_set.drop(['index'], axis=1)

    #print("test train set is done")
    #print(test_set)
    #print(training_set)
    col_n=len(test_set.columns)
    
    #display(training_set)
    #display(test_set)

    X_train=training_set.iloc[:,1:col_n-1]
    X_test=test_set.iloc[:,1:col_n-1]
    y_train=training_set.iloc[:,col_n-1]
    y_test=test_set.iloc[:,col_n-1]

#     display(X_train)
#     display(X_test)
#     display(y_train)
#     display(y_test)

    X_train=X_train.values
    X_test=X_test.values
    y_train=y_train.values
    y_test=y_test.values  

    #print("values of test train set are extracted")

    X_train[X_train == 'nan'] = 0.0
    X_test[X_test == 'nan'] = 0.0

    oversample = SMOTE()
    X_train_res, y_train_res = oversample.fit_resample(X_train, y_train)

    # Feature ScalingÂ 
    sc_X = StandardScaler()
    X_train = sc_X.fit_transform(X_train_res)
    X_test = sc_X.transform(X_test)

    #print("defining rf")

    Rfclassifier = RandomForestClassifier(n_estimators=10, criterion='entropy', class_weight="balanced_subsample", random_state=42)

    Rfclassifier.fit(X_train_res, y_train_res.ravel())

    # Predicting the Test set results
    y_pred_rf = Rfclassifier.predict(X_test)
    #print('y_preds_rf:', y_pred_rf)

    # Making the confusion Matrix
    cm_rf = confusion_matrix(y_test, y_pred_rf)
    #print('confusion matrix_rf:', cm_rf)

    # predict for the patient

    cm_rf = confusion_matrix(y_test, y_pred_rf)


    def rf_report():
        patient_pred_rf = Rfclassifier.predict(X_test)
        report = classification_report(y_test, y_pred_rf, output_dict=True)
        df_report = pd.DataFrame(report).transpose()

        return df_report

    rf_report()
    df_rf=rf_report()
    #display(df_rf)
    val_rf=df_rf['f1-score']['macro avg']
    #print("For","Random forest macro avg F1 score",val_rf)
    list_score.append(val_rf)
print("Average macro avg F1 score is",np.mean(list_score))